# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/

# Environments and Virtualenvs
.env
.venv/
venv/
ENV/
env/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
